@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(@assets/fonts/Inter-Regular.ttf);
}


#app {
  height: 100%;
  width: 92vw;
  padding: 0 4vw;
  font-family: Inter;

  display: grid;
  grid-template-rows: .1fr 1fr .1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}


// General fixes
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
